- 数据透视表

pd.pivot_table(data, values=None, index=None, columns=None, aggfunc='mean', fill_value=None, margins=False, dropna=True, margins_name='ALL)

- data:指定数据集
- values：对应“值”
- index：对应“行”
- columns：对应“列”
- aggfunc：指定聚合函数，默认是均值
- fill_value:指定用于填充缺失值的标量
- margins: 是否显示总计，默认是false
- dropna:是否删除缺失值 默认是True
- margins_name:指定总计名称，默认是ALL

In [1]:
import pandas as pd
import numpy as np

In [2]:
diamonds = pd.read_table('diamonds.csv', sep=',')
diamonds.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [3]:
pd.pivot_table(diamonds, index='color', values='price', margins=True, margins_name='总计')

             price
color
D      3169.954096
E      3076.752475
F      3724.886397
G      3999.135671
H      4486.669196
I      5091.874954
J      5323.818020
总计     3932.799722

👆透视表，默认取的price的平均值

In [6]:
pd.pivot_table(diamonds, index='clarity', columns='cut', values='carat', aggfunc=np.size, margins=True, margins_name='总计')

cut        Fair    Good    Ideal  Premium  Very Good       总计
clarity
I1        210.0    96.0    146.0    205.0       84.0    741.0
IF          9.0    71.0   1212.0    230.0      268.0   1790.0
SI1       408.0  1560.0   4282.0   3575.0     3240.0  13065.0
SI2       466.0  1081.0   2598.0   2949.0     2100.0   9194.0
VS1       170.0   648.0   3589.0   1989.0     1775.0   8171.0
VS2       261.0   978.0   5071.0   3357.0     2591.0  12258.0
VVS1       17.0   186.0   2047.0    616.0      789.0   3655.0
VVS2       69.0   286.0   2606.0    870.0     1235.0   5066.0
总计       1610.0  4906.0  21551.0  13791.0    12082.0  53940.0